# OpenSearch
OS2MONGO_OPENSEARCH_HOST=
OS2MONGO_OPENSEARCH_PORT=
OS2MONGO_OPENSEARCH_USE_SSL=
OS2MONGO_OPENSEARCH_VERIFY_CERTS=
OS2MONGO_OPENSEARCH_USERNAME=
OS2MONGO_OPENSEARCH_PASSWORD=

# MongoDB
OS2MONGO_MONGODB_URI=
OS2MONGO_MONGODB_DATABASE=

# Migration
OS2MONGO_BATCH_SIZE=
OS2MONGO_SCROLL_TIME=
OS2MONGO_REPORT_INTERVAL=
OS2MONGO_DROP_EXISTING=
OS2MONGO_QUERY=
OS2MONGO_TRANSFORM_DIR=
